/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.p-dialog-header {
  justify-content: flex-end !important;
  padding: 12px 58px !important;
}

.p-dialog {
  border-radius: 90px !important;
}

.p-dialog-content {
  padding-bottom: 72px !important;
}
